emqx_dashboard_sso_tt {

dashboard_addr.desc:
"""The address of the EMQX Dashboard."""
dashboard_addr.label:
"""Dashboard Address"""

auth_server_addr.desc:
"""The Base URL of the TongAuth Server. Example: https://tongauth.emqx.io"""
auth_server_addr.label:
"""TongAuth Server Address"""

client_id.desc:
"""The client ID."""
client_id.label:
"""Client ID"""

client_secret.desc:
"""The client secret."""
client_secret.label:
"""Client Secret"""

}
